.navbar-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 75px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100%;
    width: 99%;
    justify-content: space-between;
    align-items: center;
}

#Z-icon {
    height: 75px;
    width: 75px;
}

#menu-icon {
    height: 40px;
    width: 40px;
}

#user-icon {
    height: 40px;
    width: 40px;
}