*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.home-container{
    display: flex;
    background-color: rgb(161, 219, 229);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.first-page-container {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;
}

.last-news {
    display: flex;
    background: pink;
    height: 30%;
    width: 100%;
}

.last-news:hover {
    -webkit-animation: bg-pan-top 2s both;
    animation: bg-pan-top 2s both;
}
@-webkit-keyframes bg-pan-top {
    0% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  @keyframes bg-pan-top {
    0% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
      background: white;
    }
  }
  